.header {
    background: url(/main.png) no-repeat;
    margin: 20px;
    border-radius: 20px;
    background-position: center;
    position: relative
}

.header img {
    width: 80px;
    height: 70px;
}

.headerText {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 25vh;
    margin-bottom: 44px;
}



.addText {
    font-size: 20px;
    line-height: normal;
    font-weight: 300;
    max-width: 460px;
}

.headerButton {
    font-size: 16px;
    background: #fff;
    color: #262626;
    border-radius: 0 12px 0 12px;
    max-width: 290px;
    padding: 30px 32px;
    font-weight: 800;
}

.hoverLink {
    transition: all .3s;
}

.hoverLink:hover {
    transition: all .3s;
    font-weight: 700;
    text-decoration: underline;
}

.marker {
    padding: 8px 31px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    width: 136px;
}

@media (max-width:901px) {
    .header {
        margin: 0;
        border-radius: 0 0 20px 20px;
    }
}

@media (max-width: 450px) {
    .headerButton {
        max-width: none;
        width: 100%;
        border-radius: 8px;
    }
}