.header {
    background: url(/main.png) no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    background-size: cover;
}

.header img {
    width: 80px;
    height: 70px;
}

.headerText {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 25vh;
    margin-bottom: 44px;
    align-items: center;
    text-align: center;
}



.addText {
    font-size: 20px;
    line-height: normal;
    font-weight: 300;
    max-width: 460px;
}

.headerButton {
    font-size: 20px;
    background: #fff;
    color: #262626;
    border-radius: 12px;
    max-width: 290px;
    padding: 20px;
    font-weight: 500;
}

.hoverLink {
    transition: all .3s;
}

.hoverLink:hover {
    transition: all .3s;
    font-weight: 700;
    text-decoration: underline;
}

.marker {
    padding: 8px 31px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    width: 136px;
}

.mobileBlock{
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 8px 20px;
    color: #262626;
    font-size: 15px;
    font-weight: 600;
}

.headerDopText{
    color: #fff;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    
}

.headerDopText ul{
    text-decoration: dotted;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.headerDopText li{
    margin-left: 20px;
}

@media (max-width:901px) {
    .header {
        margin: 0;
        border-radius: 0 0 20px 20px;
    }
}

@media (max-width: 450px) {
    .headerButton {
        max-width: none;
        width: 100%;
        border-radius: 8px;
    }
}