.calcContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.calcContainer img {
    flex: 1;
    width: 50%;
    border-radius: 16px;
}

.inputContainer {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}

.inputContainer h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
}

.inputWraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.colorBlack {
    color: #000;
}

.buttonInactive {
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    color: #8a8a8a;
    background-color: #6BA64C80;
    font-weight: 700;
    font-size: 18px;
}

.buttonActive {
    background-color: #6BA64C;
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}


.calcTitle {
    color: #101010;
}

@media (max-width: 901px) {
    .calcContainer img {
        display: none;
    }

    .inputContainer {
        width: 100%;
    }
}