@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 32px;
  font-size: 18px;
  color: #fff;
}

main {
  background-color: #F5F5F5;
}

.container {
  padding: 24px 64px;
  width: 100%;
  max-width: 100vw;
}

.title {
  font-size: 56px;
  line-height: normal;
  max-width: 940px;
  font-weight: 700;
}

.colorBlack {
  color: #101010;
  max-width: 700px;
}

.bgBlack {
  background-color: #262626;
}

.text-white {
  color: #fff;
}

.customTitle {
  max-width: 840px;
}


.navMob {
  display: none;
}


.navMobContainer {
  display: none;
  position: fixed;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.navOpen {
  height: 100vh;
  z-index: 100;
  transition: .3s;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.navBtn {
  background-color: transparent;
}

.navMob img {
  width: 40px !important;
}

.navMobContainer {
  padding: 20px 0;
}

.mobNavHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.mobNavHeader span {
  font-size: 18px;
  font-weight: 700;
}

.mobNavHeader button {
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.mobNavHeader img {
  width: 40px !important;
}

.mobLinksWraper {
  display: flex;
  flex-direction: column;
}

.mobLinksWraper a:nth-child(1) {
  border-top: 1px solid #ffffff;
}

.mobLinksWraper a {
  border-bottom: 1px solid #ffffff;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 500;

}

button.absolute.appearance-none.select-none.top-1.right-1.p-2.text-foreground-500.rounded-full.hover\:bg-default-100.active\:bg-default-200.tap-highlight-transparent.outline-none.data-\[focus-visible\=true\]\:z-10.data-\[focus-visible\=true\]\:outline-2.data-\[focus-visible\=true\]\:outline-focus.data-\[focus-visible\=true\]\:outline-offset-2 {
  z-index: 100;
  color: transparent;
  right: 20px;
}

.bottomContacts {
  margin-top: 10px;
  padding: 0 10px;
}

.mobCont {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.mobCont span {
  text-decoration: underline;
}

.mobCont img {
  width: 24px !important;
  height: 24px !important;
}





@media (max-width: 901px) {
  .navigation {
    display: none;
  }

  .navMob {
    display: block;
  }

  .title {
    font-size: 32px;
    font-weight: 700;
  }

  .container {
    padding: 24px 10px;
  }
}