.footer {
    width: 100%;
    padding: 32px 60px;
    color: #fff;
    background-color: #161616;
    border-top: 1px solid #2626264D;
    margin-top: 100px;
}

.logo {
    width: 132px;
    height: 122px;
}

.phoneAndMail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: underline;
    font-size: 30px;
    font-weight: 700;
}

.contactBlock {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contactBlock img {
    width: 48px;
    height: 48px;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    font-weight: 700;
}

.contactsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 901px) {
    .footer * {
        font-size: 20px;
        font-weight: 700;
    }

    .logo{
        display: none;
    }
}

@media (max-width: 450px) {
    .footer * {
        font-size: 14px;
        font-weight: 700;
    }
}